<div class="row">
<div class="col-md-3">
  <div class="row">
    <h1><%= @recipe.name %></h1>
    <div>Created by <%= link_to full_name_of(@recipe.user), @recipe.user %></div>
  </div>
  <div class="row">
    <h5>Description</h5>
    <p><%= @recipe.description %></p>
  </div>
  <div class="row">
    <h5>Source</h5>
    <%= @recipe.source %>
  </div>
  <div class="row">
  <h5>Tags</h5>
    <div>Tags will come here</div>
  </div>
  <div class="row">
  <h5>Favs</h5>
    <div>Fav button will come here</div>
      <% unless @fans.empty? %>
      <% @fans.each do |fan| %>
        <div>
          <span><%= link_to fan.first_name, fan %></span>
        </div>
      <% end %>
      <% end %>
  </div>

</div>

<div class="col-md-5">
  <% unless @recipe.image.url.blank? %>
    <%= image_tag @recipe.image.url(:medium), class: 'image-medium' %>
  <% end %>
</div>

<div class="col-md-4">
  <% unless @recipe.ingredients.blank? %>
  <div class="row">  
    <h5>Ingredients for <%= @recipe.serving %></h5>
    <% @recipe.ingredients.each do |ingredient| %>
      <div><%= ingredient.food_item.name %>  <%= ingredient.volume %></div>
    <% end %>
  </div>
  <% end %>

  <div class="row">
    <h5>Method</h5>
    <%= @recipe.method %>
  </div>

</div>
</div>

<hr>

<div class="row">
  <div id="comments_count">
    <h4><%= pluralize(@comments.count, 'comment') %></h4>
  </div>

  <% unless @comments.blank? %>
  <div class="row">
    <div id="comments_list">
      <% @comments.each do |comment| %>
        <% unless comment.user.blank? %>
      <div class="media" id="comment-id-<%= comment.id %>">
        <a class="pull-left" href="#">
          <%= image_tag(gravatar_url(comment.user), width: 38, class: "img-circle") %>
        </a>
        <div class="media-body">
          <div class="media-heading">
            <strong><%= link_to comment.user.first_name, comment.user %></strong>
          </div> 
          <p>
            <%= comment.content %>
            <span class="muted"><%= time_ago_in_words(comment.created_at) %> ago</span>
            
            <% if current_user == comment.user %>
            <span style="font-size:12px;">
              <%= link_to 'Delete', recipe_comment_path(@recipe, comment), method: :delete, remote: true %>  
            </span>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

 <%= render 'comments/form' %>

<hr>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> | 
<%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
