<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<p>
  <strong>Source:</strong>
  <%= @recipe.source %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @recipe.tip %>
</p>

<p>
  <strong>Serving:</strong>
  <%= @recipe.serving %>
</p>

<% unless @recipe.ingredients.blank? %>
  <p>
    <strong>Ingredients</strong>
  </p>

  <% @recipe.ingredients.each do |ingredient| %>
    <% @recipe.food_items.each do |food_item| %>
      <p><%= food_item.name %> : <%= ingredient.volume %>
    <% end %>
    </p>
  <% end %>
  
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
