<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<p>
  <strong>Source:</strong>
  <%= @recipe.source %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @recipe.tip %>
</p>

<p>
  <strong>Serving:</strong>
  <%= @recipe.serving %>
</p>

<% unless @ingredients.blank? %>
  <p>
    <strong>Ingredients</strong>
  </p>

  <p>
    <% @ingredients.each do |i| %>
    <%= i.food_item.name %> <%= i.volume %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
